@using Microsoft.AspNetCore.Identity
@using webStudioBlazor.Data

@inject SignInManager<ApplicationUser> SignInManager

<ul class="nav nav-pills flex-column gap-1">
    <li class="nav-item">
        <NavLink class="nav-link rounded-3 px-3 py-3" href="Account/Manage" Match="NavLinkMatch.All">Профіль</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link rounded-3 px-3 py-3" href="Account/Manage/Email">Електронна пошта</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link rounded-3 px-3 py-3" href="Account/Manage/ChangePassword">Пароль</NavLink>
    </li>
    @if (hasExternalLogins)
    {
        <li class="nav-item">
            <NavLink class="nav-link rounded-3 px-3 py-3" href="Account/Manage/ExternalLogins">Зовнішні входи</NavLink>
        </li>
    }
    <li class="nav-item">
        <NavLink class="nav-link rounded-3 px-3 py-3" href="Account/Manage/TwoFactorAuthentication">Двофакторна автентифікація</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link rounded-3 px-3 py-3" href="Account/Manage/PersonalData">Персональні дані</NavLink>
    </li>
</ul>

@code {
    private bool hasExternalLogins;

    protected override async Task OnInitializedAsync()
    {
        hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    }
}
