@page "/admin-order-clients"

@inject SeedService _seedService
@inject NavigationManager _navigationManager
@layout AdminLayout
@attribute [Authorize(Roles = "Admin")]
@rendermode InteractiveServer



<h3>AdminOrderClients</h3>

@code {

}
